.login-container {
  height: 100%;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}

form {
  width: 100%;
  max-width: min-content;
}

.mat-raised-button {
  width: 100%;
  margin-top: 15px;
}

.mat-mdc-card {
  box-shadow: none !important;
}
