<script src="https://www.google.com/recaptcha/api.js?render={{siteKey}}"></script>
<div class="login-container">
  <form
  [formGroup]="loginForm"
  (ngSubmit)="onSubmit(myForm)"
  #myForm="ngForm"
>
  <mat-form-field>
    <mat-icon matPrefix>person_outline</mat-icon>
    <input
      class="email-input-box"
      autofocus
      type="text"
      matInput
      placeholder="Email"
      formControlName="email"
    />
    <mat-error
      class="error"
      *ngIf="
        loginForm.get('email')?.touched &&
        loginForm.get('email')?.errors &&
        loginForm.get('email')?.hasError('required')
      "
    >
      email is required
    </mat-error>
    <mat-error
      class="error"
      *ngIf="
        loginForm.get('email')?.touched &&
        loginForm.get('email')?.errors &&
        loginForm.get('email')?.hasError('email')
      "
    >
      Please enter a valid email
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-icon matPrefix>lock_outline</mat-icon>
    <input
      class="password-input-box"
      type="password"
      matInput
      placeholder="Password"
      formControlName="password"
    />
    <mat-error
      class="error"
      *ngIf="
        loginForm.get('password')?.touched &&
        loginForm.get('password')?.errors &&
        loginForm.get('password')?.hasError('required')
      "
    >
      password is required
    </mat-error>
  </mat-form-field>
  <!-- <div class="form-group">
    <re-captcha
      (resolved)="resolved($event)"
      siteKey='{{siteKey}}'
      formControlName="recaptcha"
    ></re-captcha>
  </div> -->
  <button
    class="submit-btn"
    type="submit"
    mat-raised-button
    color="primary"
    [disabled]="loginForm.invalid"
  >
    Login
  </button>
</form>
</div>
